# http://www.appveyor.com/docs/appveyor-yml

# configuration for develop/CI and master/Release branch

branches:
  only:
    - dev
    - master

environment:
  azure-key-vault-url:
    secure: 1mKS/HfCVq+iYNRVSrrN8NEowOkKt3knrpMzw+SOy3g=
  azure-key-vault-client-id:
    secure: JfSqzmsJdXB6uIxttCRoQw1NygwxqXHDj9uIqQnWOb9VCnQYlRPlAnxgW0yTSX4b
  azure-key-vault-client-secret:
    secure: CUpRJxMLeUZwNPMcqI0wECaWfy5AMnWn1UZhBd9WnQ3Z16lJP1Vzrkf24mccbhUD
  azure-key-vault-certificate:
    secure: BSPdW2TgnQtoQXXbeDECug==

skip_tags: true
image: Visual Studio 2019
test: off

install:
  # Install Windows SDK 10.0.16299
  - ps: .\build\Install-WindowsSDK.ps1
  # Use dotNet 3.0.100
  - cinst dotnetcore-sdk

pull_requests:
  do_not_increment_build_number: false

build_script:
  - ps: cd src
  - ps: .\build.ps1 --bootstrap
  - ps: .\build.ps1 -target appveyor
  - ps: cd..

artifacts:
  - path: \src\Publish\*.*

nuget:
  disable_publish_on_pr: true

skip_commits:
  files:
    - '**/*.md'