framework: auto-detect

source https://nuget.org/api/v2

nuget JetBrains.Annotations
nuget MahApps.Metro
nuget Costura.Fody
nuget gitlink

github ControlzEx/ControlzEx:c5aeed0d597336bed9451ac6b5f80846267ce0f0 src/ControlzEx/PackIconBase.cs
